.test{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.test>section{
    width: 40vw;
}

.card{
    border: 2px solid #000;
    border-left-color: blueviolet;
    border-left-width: 10px;
    padding: 1.3em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.containerImg{
    width: 100px;
    height: 100px;
}
.data{
    display: flex;
    flex-direction: column;
}
.dataTitle{
    font-size: 1.2em;
    font-weight: 800;
}
a{
    text-decoration: none;
    color: #000;
}
iframe{
    width: 100%;
    height: 100%;
}